create_update/obj/
create_update/bin/
.vs/
edf/bin/
edf/obj/
packages/MSTest.TestAdapter.1.3.2/
packages/MSTest.TestFramework.1.3.2/
packages/NUnit.2.5.7.10213/
packages/NUnit.3.12.0/
packages/NUnit.Mocks.2.6.4/
packages/
win.edf.UnitTests/bin/
win.edf.UnitTests/obj/
SubReal.EasyDuplicateFinder.Localization/bin/Release/Languages/en/Y.png
SubReal.EasyDuplicateFinder.Localization/bin/Release/Languages/ru/Ы.png
SubReal.EasyDuplicateFinder.Localization/Languages/en/Y.png
SubReal.EasyDuplicateFinder.Localization/Languages/ru/Ы.png
SubReal.EasyDuplicateFinder.Localization/obj/Release/win.edf.Localization.csproj.FileListAbsolute.txt
.idea/
